<header>
  <div class="logo">PROCONNECT</div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="profissionais">Profissionais</a></li>
      <li><a href="#">Contactos</a></li>
    </ul>
  </nav>
  <div class="account">
    <img
      src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?t=st=1741790202~exp=1741793802~hmac=4a8593a48197d68f83106e7c240f4e0fd907d0404e8fb92bab733b8c127c65ad&w=740"
      alt="Imagem de Utilizador"
      class="user-image"
    />
    <button class="account-btn">A tua conta</button>
  </div>
</header>
