<main>
  <h1>
    Consule aqui todos os nossos <br />
    Profissionais
  </h1>
  @if (services$ | async; as services) {
  <div>
    <ul>
      @for (service of services; track service.id) {
      <li id="{{ service.id }}">
        <button (click)="onServiceFilterClick(service.id)" type="button">
          {{ service.nome }}
        </button>
      </li>
      }
    </ul>
    @if (isFilterActive) {
    <button type="button" (click)="onResetFiltersClick()">
      Apagar filtros
    </button>
    }
  </div>
  }
  <section>
    @if (professionals$ | async; as professionals) {
    @for (
    professional of professionals;
    track professional.id_profissionais
    ) {
    <app-professionals-card [professionalImgUrl]="professional.imagem_url" [professionalName]="professional.nome"
      [professionalService]="'dsadsa'" />
    }
    }
  </section>
</main>
